main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
body{
    padding-left: 3em;
    padding-right: 3em;
    background-color: #F3D6CE;
    color: #8C5F66;

}
img{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
div{
    padding: .5em;
}
.pink{
    background-color: #CB769E;
}
.coral{
    background-color: #E09891;
}
.melon{
    background-color: #E8B9AB;
}
.ash{
    background-color: #ADBCA5;
}
.rose{
    background-color: #8C5F66;
}
.overlay-text {
    position: absolute;
    top: 30%; 
    color: #fff; 
    font-size: 30px;  
}
.hide {
    display: none;
}
.book-cover:hover + .hide {
    display: block;
    color: white;
}
.book-cover:hover{
    filter: opacity(0%);
}
.container{
    position:relative;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
span{
    padding:20px;
}

.nav-container {
	text-align: center;
    justify-content: center;
}

nav {
    display: inline-block;
	padding: .7em;
	border: 1px solid #8C5F66;
	border-radius: 200px;
	font-size: 1.2em;
	margin-bottom: 1em;
	left: 1em;
    font-weight: bold;
	right: 1em;
    width: 15%;
}

nav a {
	display: inline-block;
	margin: 0.25em;
	text-decoration: none;
    color: darkgray;
}

a.current {
	color:#8C5F66;
}